/* ========== Global Styles ========== */

p, a{
	font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5{
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.bg-grey{
	background-color: #ecf0f1 !important;
}

.badge{
	border-radius: 50px !important;
}

/* ========== Navigation ========== */

.header-logo{
	max-width: 200px;
}

/* ========== Search Bar ========== */

.search-btn{
	width: 100px !important;
	font-weight: bold;
}


/* ========== Login Page ========== */

.login-body{
	background: #343a40;
	height: 100vh;
}

.login-card{
	margin-top: 175px;
}